GROQ_API_KEY=groq_api_key_here
GROQ_MODEL=openai/gpt-oss-20b
# Application
APP_ENV=development
LOG_LEVEL=INFO

# Ruff fast-code quality checker..

uv run ruff check . --fix

# removes unwanted line
uv run ruff format .  
