GROQ_API_KEY=groq_api_key_here
GROQ_MODEL=openai/gpt-oss-20b
# Application
APP_ENV=development
LOG_LEVEL=INFO

# Ruff fast-code quality checker..

uv run ruff check . --fix

# removes unwanted line
uv run ruff format .  

#it only prepares/updates the project environment.
uv sync --extra dev


# CRS means Coordinate Reference System. It tells GeoScout how to interpret the numbers in a geometry’s coordinates—what location they represent on Earth and what units are used.

# EPSG is a standardized catalog of CRS definitions. Each CRS has an identifier such as:

